{{ form_start(form,{'attr':{'class':'horizontal-form'} }) }}
<div class="row">
    <div class="col-md-12">
        <div class="form-body">
            <h3 class="form-section">Nouveau service</h3>

            <div class="form-group">
                <label class="control-label">Nom du service</label>
                {{ form_widget(form.nom,{'attr':{'class':'form-control'} }) }}
                {{ form_errors(form.nom) }}
            </div>
            <div class="form-group">
                <label class="control-label">Nom du service</label>
                {{ form_widget(form.division,{'attr':{'class':'form-control'} }) }}
                {{ form_errors(form.division) }}
            </div>
            <div class="form-group">
                <label class="control-label">Responsable du service</label>
                {{ form_widget(form.resp,{'attr':{'class':'select2_category form-control'} }) }}
                {{ form_errors(form.resp) }}
            </div>
            {{ form_widget(form._token) }}
            <div class="form-actions text-center">
                <input type="submit" class="btn btn-circle blue" value="Valider">
                <input type="reset" class="btn btn-circle default" value="Effacer">
            </div>
        </div>
    </div>
</div>