{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form,{'attr':{'class':'horizontal-form'} }) }}
<div class="container">
    <div class="form-body">
        <div class="row">
            <div class="col-md-6">
                <h3 class="form-section">Nouvel utilisateur</h3>

                <div class="form-group">
                    <label class="control-label">Email</label>
                    {{ form_widget(form.email,{'attr':{'class':'form-control'} }) }}
                    {{ form_errors(form.email) }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Nom d'utilisateur</label>
                    {{ form_widget(form.username,{'attr':{'class':'form-control'} }) }}
                    {{ form_errors(form.username) }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Mot de passe</label>
                    {{ form_widget(form.plainPassword,{'attr':{'class':'form-control'} }) }}
                    {{ form_errors(form.plainPassword) }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Nom</label>
                    {{ form_widget(form.nom,{'attr':{'class':'form-control'} }) }}
                    {{ form_errors(form.nom) }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Prenom</label>
                    {{ form_widget(form.prenom,{'attr':{'class':'form-control'} }) }}
                    {{ form_errors(form.prenom) }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Fonction</label>
                    {{ form_widget(form.fonction,{'attr':{'class':'form-control'} }) }}
                    {{ form_errors(form.fonction) }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Telephone</label>
                    {{ form_widget(form.telephone,{'attr':{'class':'form-control'} }) }}
                    {{ form_errors(form.telephone) }}
                </div>
                {{ form_widget(form._token) }}
                <div class="form-actions text-center">
                    <input type="submit" class="btn btn-circle blue" value="Valider">
                    <input type="reset" class="btn btn-circle default" value="Effacer">
                </div>
            </div>
        </div>
    </div>
</div>
