{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <div class="logo">
        <a href="index.html">
            <img src="{{ asset('bundles/courriers/img/logo.png') }}" alt=""/>
        </a>
    </div>
    <!-- END LOGO -->
    <!-- BEGIN LOGIN -->
    <div class="content">
        <!-- BEGIN LOGIN FORM -->
        <form action="{{ path("fos_user_security_check") }}" method="post" class="login-form">
            <h3 class="form-title">Authentification</h3>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>

            <div class="form-group">
                {#<label class="control-label" for="username">Identifiant</label>#}
                <input type="text" id="username" placeholder="Identifiant" name="_username" value="{{ last_username }}" required="required"
                       class="form-control form-control-solid placeholder-no-fix"/>
            </div>
            <div class="form-group">
                {#<label class="control-label" for="password">Mot de passe</label>#}
                <input type="password" placeholder="Mot de passe" id="password" name="_password" required="required"
                       class="form-control form-control-solid placeholder-no-fix"/>
            </div>
            <div class="form-actions">
                <input type="submit" id="_submit" name="_submit" class="btn btn-success uppercase" value="Connexion"/>
            </div>
        </form>
        <!-- END LOGIN FORM -->
    </div>
    <div class="copyright">
        2015 © DEA Courriers - Ministère de l'Intérieur.
    </div>


{% endblock fos_user_content %}
